{% extends '::layoutmain.html.twig' %}

{% block title %}Profile{% endblock %}

{% block Breadcrumb %}
    <h5>Profile</h5>
{% endblock %}



{% block javascript_ui %}
  <script type="text/javascript" src="{{ asset('assets/js/jquery-ui.js') }}"></script>
{% endblock %}

{% block stylesheets %}


    <link href="{{ asset('assets/css/bootstrap-theme.min.css') }}" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/jquery.picture.cut.js') }}"></script>

{% endblock %}





{% block body %}
    <div class="wrapper">
        <form  class="form from-addUser" method="post" action="" novalidate="novalidate">
            <input type="hidden" name="user_detail" value="{{ user_detail }}" />
            <fieldset>
                <div class="widget">
                    <div class="title"><img src="{{ asset('assets/images/icons/dark/list.png') }}" alt="" class="titleIcon"><h6>Profile</h6></div>
                    <div class="formRow">
                        <label>First name:<span class="req">*</span></label>
                        <div class="formRight"><input type="text" value="{{ UserDetail.getFirstname() }}" class="required error" name="account[firstName]" id="firstName">
                        <span style="color: red" class="error-first_name"></span>
                        </div><div class="clear"></div>
                    </div>
                    <div class="formRow">
                        <label>Last name:<span class="req">*</span></label>
                        <div class="formRight"><input type="text" value="{{ UserDetail.getLastname() }}" class="required error" name="account[lastName]" id="lastName">
                        <span style="color: red" class="error-last_name"></span>
                        </div><div class="clear"></div>
                    </div>
                    <div class="formRow">
                        <label>Avatar:</label>
                        <div class="formRight">
                            <input type="hidden" name="account[avatar_old]" value="{{ UserDetail.getAvatar() }}" />
                               <div id="container_image"></div>
                               <script >
                                  $("#container_image").PictureCut({
                                      InputOfImageDirectory       : "image",
                                      PluginFolderOnServer        : "/jQuery/",
                                      FolderOnServer              : "/upload/avatar/",
                                      EnableCrop                  : true,
                                      CropWindowStyle             : "Bootstrap"
                                  });
                               </script>

                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="formRow">
                        <label>Situation:<span class="req">*</span></label>
                        <div class="formRight">
                            <div class="selector">
                                <select class="select-box" name="account[situation]"  >
                                    <option {% if UserDetail.getSituation() ==  'Mr' %} selected="selected" {% endif %} value="Mr">Mr</option>
                                    <option {% if UserDetail.getSituation() ==  'Mrs' %} selected="selected" {% endif %}  value="Mrs">Mrs</option>
                                    <option {% if UserDetail.getSituation() ==  'Ms' %} selected="selected" {% endif %}  value="Ms">Ms</option>
                                    <option  {% if UserDetail.getSituation() ==  'N/A' %} selected="selected" {% endif %}  value="N/A" >N/A</option>
                                </select>
                            </div>

                        </div><div class="clear"></div>
                    </div>

                    <div class="formRow">
                        <label>Street 1:</label>
                        <div class="formRight"><input type="text" value="{{ UserDetail.getStreet1() }}" class=" error" name="account[street_1]" id="street_1">
                        </div><div class="clear"></div>
                    </div>

                     <div class="formRow">
                        <label>Street 2:</label>
                        <div class="formRight"><input type="text" value="{{ UserDetail.getStreet2() }}" class=" error" name="account[street_2]" id="street_2">
                        </div><div class="clear"></div>
                    </div>
                    <div class="formRow">
                        <label>State :</label>
                        <div class="formRight"><input type="text" value="{{ UserDetail.getState() }}" class="error" name="account[state]" id="state">
                        </div><div class="clear"></div>
                    </div>
                     <div class="formRow">
                        <label>Phone :</label>
                        <div class="formRight"><input type="text" value="{{ UserDetail.getPhone() }}" class="error" name="account[phone]" id="phone">
                        </div><div class="clear"></div>
                    </div>

                    <div class="formRow">
                        <label>Country :</label>
                        <div class="formRight">
                             <div class="selector">
                                <select class="select-box"  onchange="CountryFunction(this.value)" id="country_id" name="account[country]">
                                    {% for country in countrys %}
                                        <option value="{{ country.getId() }}">{{ country.getName() }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div><div class="clear"></div>
                    </div>


                    <div class="formRow">
                        <label>City :</label>
                        <div class="formRight" id="city_id" >
                        </div>
                        <div class="clear"></div>
                    </div>



                    <div class="formRow">
                        <label>Password:<span class="req">*</span></label>
                        <div class="formRight"><input type="password" class=" error" name="account[password]" id="password">
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="formRow">
                        <label>Confirmation password:<span class="req">*</span></label>
                        <div class="formRight"><input type="password" class=" error" name="account[repeatPassword]" id="repeatPassword">

                        <span style="color: red" class="red error-repeatPassword"></span>
                        </div>
                        <div class="clear"></div>

                    </div>

                    <div class="formRow">
                        <label>Email:<span class="req">*</span></label>
                        <div class="formRight"><input type="text" value="{{ users.getEmail() }}" class="required error" name="account[email]" id="email">
                        </div><div class="clear"></div>
                    </div>
                    <div class="formSubmit"><input id="button-addUser" type="button" value="submit" class="redB"></div>
                    <div class="clear"></div>
                </div>


            </fieldset>
        </form>
    </div>

    <script type="text/javascript" >
        function CountryFunction(id){
            var URL = '{{ path('_ajaxGetCity') }}';
            jQuery.ajax({
                type: "post",
                url : URL,
                data:{'id' : id , 'city' : '{{ UserDetail.getCity() }}' },
                dataType : "html",
                success : function(data){
                    $('#city_id').html(data);
                }
            });

        }


        $(function(){
            {% if UserDetail.getAvatar() != ''  %}
            $('.picture-element-image').attr("src", "{{ asset(UserDetail.getAvatar()) }} ");
            {% endif  %}
            var country_id = $('#country_id').val();
            CountryFunction(country_id);


            $('#username').keypress(function(){
                var URL = 'isusername';
                var username = $('#username').val();
                $.ajax({
                    type: "post",
                    url : URL,
                    data:{'username':username},
                    dataType : "html",
                    success : function(data){
                        if(data==1){
                            $('.is-username').append('<lable>User name exist!</lable>');
                        }
                    }
                });
            });

            $('#button-addUser').click(function(){
                $('.error-repeatPassword').html('');
                $('.error-first_name').html('');
                $('.error-last_name').html('');

                if($('#password').val().trim() != $('#repeatPassword').val().trim() ){
                    $('.error-repeatPassword').html('Password confirmation does not match password!');
                    return false;
                }
                if($('#firstName').val().trim() == '')
                {
                    $('.error-first_name').html('First name required!');
                    return false;
                }
                if($('#lastName').val().trim() == '')
                {
                    $('.error-last_name').html('Last name required!');
                    return false;
                }



                $('.from-addUser').submit();
            });
        });

    </script>

{% endblock %}