<ul class="partners">
    {% for comment in comments %}
        <li class="row-comment{{ comment.id }}">
            <div class="pInfo">
                <a href="#" title=""><strong> {{ comment.fullname  }} </strong> Commented {{ comment.created_at |date('Y-m-d h:i:s') }}</a>
                <i>{{ comment.comment }} </i>
                {% if comment.attachments %}
                    <ul>
                        {% for attach in comment.attachments %}
                            <li><a href="">{{ attach.getFilename }}</a> - {{ attach.getFilesize }} kb</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            {% if comment.id_update %}
                <div class="pLinks">
                    <a onclick="romove_comment({{ comment.id }})" href="javascript:void(0);" class="tipW" original-title="Remove"><img src="{{ asset('assets/images/icons/remove.png') }}" alt=""></a>
                    <!--<a href="#" class="tipW" original-title="Update"><img src="/assets/images/icons/edit.png" alt=""></a>-->
                </div>
            {% endif %}
            <div class="clear"></div>
        </li>
    {% endfor %}
</ul>
{% if paginations != '' %}
    <div class="pagination">
        <ul class="pages">
            {{ paginations| raw }}
        </ul>
    </div>
{% endif %}