<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
    <title>{% block title %}{% endblock %}</title>
    {% block stylesheets %}
        <link href="{{ asset('assets/css/main.css') }}" rel="stylesheet" type="text/css" />
    {% endblock %}
    <script type="text/javascript" src="{{ asset('assets/js/jquery.min.js') }}"></script>



    <!-- Shared on MafiaShare.net  --><!-- Shared on MafiaShare.net  --></head>

<body class="nobg loginPage">

<!-- Top fixed navigation -->
<div class="topNav">
    <div class="wrapper">
        <div class="userNav">
            <ul>
                <li><a href="{{ path('_forgotpassword') }}" title=""><img src="{{ asset('assets/images/icons/topnav/mainWebsite.png') }}" alt="" /><span>Forgot password</span></a></li>
                <li><a href="{{ path('fos_user_security_login') }}" title=""><img src="{{ asset('assets/images/icons/topnav/profile.png') }}" alt="" /><span>Login</span></a></li>
                <li><a href="{{ path('_singup') }}" title=""><img src="{{ asset('assets/images/icons/topnav/profile.png') }}" alt="" /><span>Register</span></a></li>
                <li><a href="{{ path('_contact') }}" title=""><img src="{{ asset('assets/images/icons/topnav/profile.png') }}" alt="" /><span>Contact</span></a></li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
</div>




        {% block body %}

        {% endblock %}


<!-- Footer line -->
<div id="footer">
    <div class="wrapper">Copyright @ 2015 By Advanced Project Trackers Team. All Right Reserved</div>
</div>

{% block javascripts %}


    <script type="text/javascript" src="{{ asset('assets/js/plugins/spinner/ui.spinner.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/plugins/spinner/jquery.mousewheel.js') }}"></script>

    <script type="text/javascript" src="{{ asset('assets/js/jquery-ui.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('assets/js/plugins/charts/excanvas.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/plugins/charts/jquery.flot.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/plugins/charts/jquery.flot.orderBars.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/plugins/charts/jquery.flot.pie.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/plugins/charts/jquery.flot.resize.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/plugins/charts/jquery.sparkline.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('assets/js/plugins/forms/uniform.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/plugins/forms/jquery.cleditor.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/plugins/forms/jquery.validationEngine-en.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/plugins/forms/jquery.validationEngine.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/plugins/forms/jquery.tagsinput.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/plugins/forms/autogrowtextarea.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/plugins/forms/jquery.maskedinput.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/plugins/forms/jquery.dualListBox.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/plugins/forms/jquery.inputlimiter.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/plugins/forms/chosen.jquery.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('assets/js/plugins/wizard/jquery.form.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/plugins/wizard/jquery.validate.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/plugins/wizard/jquery.form.wizard.js') }}"></script>

    <script type="text/javascript" src="{{ asset('assets/js/plugins/uploader/plupload.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/plugins/uploader/plupload.html5.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/plugins/uploader/plupload.html4.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/plugins/uploader/jquery.plupload.queue.js') }}"></script>

    <script type="text/javascript" src="{{ asset('assets/js/plugins/tables/datatable.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/plugins/tables/tablesort.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/plugins/tables/resizable.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('assets/js/plugins/ui/jquery.tipsy.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/plugins/ui/jquery.collapsible.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/plugins/ui/jquery.prettyPhoto.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/plugins/ui/jquery.progress.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/plugins/ui/jquery.timeentry.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/plugins/ui/jquery.colorpicker.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/plugins/ui/jquery.jgrowl.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/plugins/ui/jquery.breadcrumbs.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/plugins/ui/jquery.sourcerer.js') }}"></script>

    <script type="text/javascript" src="{{ asset('assets/js/plugins/calendar.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/plugins/elfinder.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('assets/js/custom.js') }}"></script>

    <script type="text/javascript" src="{{ asset('assets/js/charts/chart.js') }}"></script>


{% endblock %}
</body>
</html>