{% extends '::layoutmain.html.twig' %}

{% block title %}Add Projects{% endblock %}

{% block Breadcrumb %}
    <h5>Add Projects</h5>
{% endblock %}


{% block javascript_ui %}
    <script type="text/javascript" src="{{ asset('assets/js/jquery-ui.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('assets/css/bootstrap-theme.min.css') }}" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/jquery.picture.cut.js') }}"></script>
{% endblock %}


{% block body %}

    <div class="wrapper">
    {{ form_errors(form)  }}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="nNote nSuccess hideit">
            <p><strong>SUCCESS: </strong>{{ flashMessage }}</p>
        </div>
    {% endfor %}
    {% for i in err %}
        <div class="nNote nFailure hideit">
            <p><strong>SUCCESS: </strong>{{ i }}</p>
        </div>
    {% endfor %}

        <form action="{{ path('_addProjects') }}" method="post" enctype="multipart/form-data" >
        <div class="form">
            <fieldset>
                <div class="widget">
                    <div class="title"><img src="{{ asset('assets/images/icons/dark/list.png') }}" alt="" class="titleIcon" /><h6>Add project</h6></div>
                    <div class="formRow">
                        <label>{{ form_label(form.name) }}</label>
                        <div class="formRight">{{ form_widget(form.name) }}</div>
                        {{ form_errors(form.name) }}
                        <div class="clear"></div>
                    </div>

                    <div class="formRow">
                        <label>Image:</label>
                        <div class="formRight">
                               <div id="container_image"></div>
                               <script >
                                  $("#container_image").PictureCut({
                                      InputOfImageDirectory       : "image",
                                      PluginFolderOnServer        : "/jQuery/",
                                      FolderOnServer              : "/upload/project/",
                                      EnableCrop                  : true,
                                      CropWindowStyle             : "Bootstrap"
                                  });
                               </script>

                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="formRow">
                        <label>{{ form_label(form.status) }}</label>
                        <div class="formRight">
                            <div class="selector">
                                {{ form_widget(form.status) }}
                            </div>

                            </div>
                        {{ form_errors(form.status) }}
                        <div class="clear"></div>
                    </div>


                    <div class="formSubmit">
                        <input type="submit" value="Save" class="button blueB">
                         <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                </div>
            </fieldset>
        </div>
     </form>

    </div>
{% endblock %}