{% extends '::layoutmain.html.twig' %}

{% block title %}Add Projects{% endblock %}

{% block Breadcrumb %}
    <h5>Add New Project</h5>
{% endblock %}


{% block javascript_ui %}
    <script type="text/javascript" src="{{ asset('assets/js/jquery-ui.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('assets/css/bootstrap-theme.min.css') }}" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/jquery.picture.cut.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/plugins/forms/jquery.cleditor.js') }}"></script>

    <script>
        $(function(){
            $(".editor").cleditor({
                width:"100%",
                height:"100%",
                bodyStyle: "margin: 10px; font: 12px Arial,Verdana; cursor:text"
            });
        });

    </script>
{% endblock %}


{% block body %}




    <div class="wrapper">
    {{ form_errors(form)  }}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="nNote nSuccess hideit">
            <p><strong>SUCCESS: </strong>{{ flashMessage }}</p>
        </div>
    {% endfor %}
    {% for i in err %}
        <div class="nNote nFailure hideit">
            <p><strong>SUCCESS: </strong>{{ i }}</p>
        </div>
    {% endfor %}

        <form action="{{ path('_addProjects') }}" method="post" enctype="multipart/form-data" >
        <div class="form">
            <fieldset>
                <div class="widget">
                    <div class="title"><img src="{{ asset('assets/images/icons/dark/list.png') }}" alt="" class="titleIcon" /><h6>Add New Project</h6></div>
                    <div class="formRow">
                        <label>{{ form_label(form.name) }}</label>
                        <div class="formRight">{{ form_widget(form.name) }}</div>
                        {{ form_errors(form.name) }}
                        <div class="clear"></div>
                    </div>
                     <div class="formRow">
                        <label>{{ form_label(form.description) }}</label>
                        <div class="formRight">{{ form_widget(form.description) }}</div>
                        <div class="clear"></div>
                    </div>
                    <div class="formRow">
                        <label>Image:</label>
                        <div class="formRight">
                               <div id="container_image"></div>
                               <script >
                                  $("#container_image").PictureCut({
                                      InputOfImageDirectory       : "image",
                                      PluginFolderOnServer        : "/jQuery/",
                                      FolderOnServer              : "/upload/project/",
                                      EnableCrop                  : true,
                                      CropWindowStyle             : "Bootstrap"
                                  });
                               </script>

                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="formRow">
                        <label>{{ form_label(form.status) }}</label>
                        <div class="formRight">
                            <div class="selector">
                                {{ form_widget(form.status) }}
                            </div>

                            </div>
                        {{ form_errors(form.status) }}
                        <div class="clear"></div>
                    </div>
                    <div class="formRow">
                        <div class="user_add"></div>
                    </div>

                     <div class="formRow">
                        <label>Assigned Users</label>
                        <div class="formRight">
                            <div class="div_assign"><input type="text" name="assign_user" id="assign_user" />
                                <div class="content_assigned_user"></div>
                            </div>
                            </div>
                         <div class="clear"></div>
                    </div>


                    <div class="clear"></div>
                    <div class="formSubmit">
                          <a onclick="goBack()" href="javascript: history.go(1)" title="" class="button redB ml15 m10"><span>Cancel</span></a>

                        <input type="submit" value="Save" class="button blueB">
                         <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                </div>
            </fieldset>
        </div>
     </form>

    </div>
    <script type="text/javascript" >
        $(function(){
            $('#assign_user').keydown(function(){
                changeuser(this.value);
            });
        });
        function changeuser(user_name){
            var URL = '{{ path('_ajaxSearch_user') }}';
            jQuery.ajax({
                type: "post",
                url : URL,
                data:{'user_name':user_name, 'project_id' : 0 },
                dataType : "html",
                success : function(data){
                    $('.content_assigned_user').html(data);

                }
            });

        }
        function fcadd_user(id_user, full_name){
            var is_temp = true;
            $.each($(".check_user"), function(){

                if(id_user == $(this).val()) {
                    $(this).attr('checked', true);
                    is_temp = false;
                    return false;
                }
            });
            if(is_temp)
            $('.user_add').append('<input checked="checked" type="checkbox" class="check_user" name="check_user[]" value="'+id_user+'" /> <label>'+full_name+'</label><br/>');
        }

    </script>


    <script>
        function goBack() {
            window.history.back();
        }
    </script>








{% endblock %}