{% for project in projects %}
    <tr class="row-{{ project.id }}">
        <td><a href="{{ path('_detailProjects', { 'id': project.id }) }}">{{ project.name }}</a></td>
        <td align="center" style="border-left-color: rgb(203, 203, 203);"><img src="http://{{ app.request.getHost()}}/upload/{{  project.image }}" height="20" alt=""></td>
        <td align="center">{% if project.status == 1  %}
                Open
            {% else %}
                Archived
            {% endif %}
        </td>
        <td align="center">{{ project.created|date('Y-m-d') }}</td>
        <td class="actBtns">
            <a  href="{{ path('_editProjects', { 'id': project.id }) }}" class="tipS " original-title="Update"><img src="{{ asset('assets/images/icons/edit.png') }}" alt=""></a>
            <a href="javascript:void(0);" onclick="delete_project({{ project.id }})" class="tipS" original-title="Remove"><img src="{{ asset('assets/images/icons/remove.png') }}" alt=""></a></td>
    </tr>
{% endfor %}
<tr>
    <td colspan="5">

        <div class="pagination">
            <ul class="pages">
               {{ paginations| raw }}
            </ul>
        </div>
    </td>
</tr>
