{% extends '::layoutmain.html.twig' %}

{% block title %}Edit Projects{% endblock %}

{% block Breadcrumb %}
    <h5>Edit Project </h5>
{% endblock %}

{% block javascript_ui %}
    <script type="text/javascript" src="{{ asset('assets/js/jquery-ui.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('assets/css/bootstrap-theme.min.css') }}" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/jquery.picture.cut.js') }}"></script>

    <script type="text/javascript" src="{{ asset('assets/js/plugins/forms/jquery.cleditor.js') }}"></script>

    <script>
        $(function(){
            $(".editor").cleditor({
                width:"100%",
                height:"100%",
                bodyStyle: "margin: 10px; font: 12px Arial,Verdana; cursor:text"
            });
        });

    </script>
{% endblock %}




{% block body %}



    <div class="wrapper">
    {{ form_errors(form)  }}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="nNote nSuccess hideit">
            <p><strong>SUCCESS: </strong>{{ flashMessage }}</p>
        </div>
    {% endfor %}
    {% for i in err %}
        <div class="nNote nFailure hideit">
            <p><strong>SUCCESS: </strong>{{ i }}</p>
        </div>
    {% endfor %}

        <form action="" method="post" enctype="multipart/form-data" >
            <input type="hidden" name="old_image" value="{{ image_old }}"/>
        <div class="form">
            <fieldset>
                <div class="widget">
                    <div class="title"><img src="{{ asset('assets/images/icons/dark/pencil.png') }}" alt="" class="titleIcon" /><h6>Update project</h6></div>
                    <div class="formRow">
                        <label>{{ form_label(form.name) }}</label>
                        <div class="formRight">{{ form_widget(form.name) }}</div>
                        {{ form_errors(form.name) }}
                        <div class="clear"></div>
                    </div>
                    <div class="formRow">
                        <label>{{ form_label(form.description) }}</label>
                        <div class="formRight">{{ form_widget(form.description) }}</div>
                        <div class="clear"></div>
                    </div>
                    <div class="formRow">
                        <label>Image:</label>
                        <div class="formRight">
                            <input type="hidden" name="old_image" value="{{ image_old }}" />
                               <div id="container_image"></div>
                               <script >
                                  $("#container_image").PictureCut({
                                      InputOfImageDirectory       : "image",
                                      PluginFolderOnServer        : "/jQuery/",
                                      FolderOnServer              : "/upload/project/",
                                      EnableCrop                  : true,
                                      CropWindowStyle             : "Bootstrap"
                                  });
                               </script>

                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="formRow">
                        <label>{{ form_label(form.status) }}</label>
                        <div class="formRight"><div class="selector">{{ form_widget(form.status) }}</div></div>
                        {{ form_errors(form.status) }}
                        <div class="clear"></div>
                    </div>
                    <div class="formRow">
                        <div class="user_add">
                            {% for user_project in user_projects %}
                                <input type="checkbox" id=" check_user{{ user_project.user_id }}" class="check_user" checked="checked" value="{{ user_project.user_id }}" name="check_user[]" /><label for="check_user{{ user_project.user_id }}">{{ user_project.full_name }}</label>  <br/>
                            {% endfor %}

                        </div>
                    </div>
                    <div class="formRow">
                        <label>Assigned Users</label>
                        <div class="formRight">
                            <div class="div_assign"><input type="text" name="assign_user" id="assign_user" />
                                <div class="content_assigned_user"></div>
                            </div>
                            </div>
                         <div class="clear"></div>
                    </div>

                    <div class="formSubmit">
                        <a href="{{ path('_detailProjects',{'id': id, 'tab' : 1 }) }}" title="" class="button redB ml15 m10"><span>Cancel</span></a>

                        <a onclick="return confirm('Are you sure you want to delete this project? There is no going back!');" style="float: right; margin-left: 30px" href="{{ path('_deleteProjects',{'id': id }) }}" title="" class="button redB ml15 m10"><span>Delete {{ title }}</span></a>

                        <input type="submit" value="Save" class="button blueB">



                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                </div>
            </fieldset>
        </div>
     </form>

    </div>


    <script type="text/javascript">
          $(function() {
              {% if is_image  %}
              $('.picture-element-image').attr("src", "{{ asset(image_old) }} ");
              {% endif  %}
          });
    </script>


    <script type="text/javascript" >
        $(function(){
            $('#assign_user').keydown(function(){
                changeuser(this.value);
            });
        });
        function changeuser(user_name){
            var URL = '{{ path('_ajaxSearch_user') }}';
            jQuery.ajax({
                type: "post",
                url : URL,
                data:{'user_name':user_name, 'project_id' : {{ id }} },
                dataType : "html",
                success : function(data){
                    $('.content_assigned_user').html(data);

                }
            });

        }
        function fcadd_user(id_user, full_name){
            var is_temp = true;
            $.each($(".check_user"), function(){

                if(id_user == $(this).val()) {
                    $(this).attr('checked', true);
                    is_temp = false;
                    return false;
                }
            });
            if(is_temp)
                $('.user_add').append('<input checked="checked" type="checkbox" class="check_user check_user'+id_user+'" name="check_user[]" value="'+id_user+'" /> <label for="check_user'+id_user+'"> '+full_name+'</label> <br/>');
        }

    </script>
{% endblock %}