{% extends '::layoutmain.html.twig' %}

{% block title %}Edit Projects{% endblock %}

{% block Breadcrumb %}
    <h5>Edit Project </h5>
{% endblock %}

{% block javascript_ui %}
    <script type="text/javascript" src="{{ asset('assets/js/jquery-ui.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('assets/css/bootstrap-theme.min.css') }}" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/jquery.picture.cut.js') }}"></script>
{% endblock %}




{% block body %}



    <div class="wrapper">
    {{ form_errors(form)  }}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="nNote nSuccess hideit">
            <p><strong>SUCCESS: </strong>{{ flashMessage }}</p>
        </div>
    {% endfor %}
    {% for i in err %}
        <div class="nNote nFailure hideit">
            <p><strong>SUCCESS: </strong>{{ i }}</p>
        </div>
    {% endfor %}

        <form action="" method="post" enctype="multipart/form-data" >
            <input type="hidden" name="old_image" value="{{ image_old }}"/>
        <div class="form">
            <fieldset>
                <div class="widget">
                    <div class="title"><img src="{{ asset('assets/images/icons/dark/pencil.png') }}" alt="" class="titleIcon" /><h6>Update project</h6></div>
                    <div class="formRow">
                        <label>{{ form_label(form.name) }}</label>
                        <div class="formRight">{{ form_widget(form.name) }}</div>
                        {{ form_errors(form.name) }}
                        <div class="clear"></div>
                    </div>
                    <div class="formRow">
                        <label>Image:</label>
                        <div class="formRight">
                            <input type="hidden" name="old_image" value="{{ image_old }}" />
                               <div id="container_image"></div>
                               <script >
                                  $("#container_image").PictureCut({
                                      InputOfImageDirectory       : "image",
                                      PluginFolderOnServer        : "/jQuery/",
                                      FolderOnServer              : "/upload/project/",
                                      EnableCrop                  : true,
                                      CropWindowStyle             : "Bootstrap"
                                  });
                               </script>

                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="formRow">
                        <label>{{ form_label(form.status) }}</label>
                        <div class="formRight"><div class="selector">{{ form_widget(form.status) }}</div></div>
                        {{ form_errors(form.status) }}
                        <div class="clear"></div>
                    </div>


                    <div class="formSubmit">
                        <a href="{{ path('_detailProjects',{'id': id, 'tab' : 1 }) }}" title="" class="button redB ml15 m10"><span>Cancel</span></a>

                        <a onclick="return confirm('Are you sure you want to delete this project? There is no going back!');" style="float: right; margin-left: 30px" href="{{ path('_deleteProjects',{'id': id }) }}" title="" class="button redB ml15 m10"><span>Delete {{ title }}</span></a>

                        <input type="submit" value="Save" class="button blueB">



                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                </div>
            </fieldset>
        </div>
     </form>

    </div>


    <script type="text/javascript">
          $(function() {
              {% if is_image  %}
              $('.picture-element-image').attr("src", "{{ asset(image_old) }} ");
              {% endif  %}
          });
    </script>
{% endblock %}