{% extends '::layoutmain.html.twig' %}

{% block title %}Issuse{% endblock %}

{% block Breadcrumb %}
    <div class="left-top">
        {% if is_image %}
            <img style="width:100px" src="{{ asset(project.getImage()) }}"/>
        {% else %}
            <img src="{{ asset('assets/images/Project.png') }}"/>
        {% endif %}
    </div>
    <div class="left-top">
        <h5>{{ project.getName }}</h5>
        Date created: <i>{{ project.getCreated() | date('Y-m-d') }}</i>
    </div>
    <div class="clear"></div>

{% endblock %}

{% block body %}

    {% if is_add %}
        <div class="wrapper">
            <div class="invButtons">

                <a style="margin: 0; float: left;  padding-left: 10px;" href="{{ path('_addIssues' , { 'id': id }) }}" title="" class="button blueB ajax-request-btn"><img src="{{ asset('assets/images/icons/sPlus.png') }}" alt=""><span>Add new issues</span></a>
                <a style="float:right " href="{{ path('_editProjects', { 'id': id }) }}" title="" class="button blueB ajax-request-btn" style="margin: 5px;"><img src="{{ asset('assets/images/icons/light/create.png') }}" alt="" class="icon"><span>Edit project</span></a>
                 <div class="clear"></div>
            </div>
            <br>
        </div>
        <div class="line"></div>
    {% endif %}

    <div class="wrapper">
        <div class="widget">
            <ul class="tabs">
                <li class="activeTab"><a href="#tab1"><span class="number_activity">{{ number_activity }}</span> Activity</a></li>
                <li class=""><a href="#tab2"><span class="number_open">{{ number_open }}</span> Open Issues</a></li>
                <li class=""><a href="#tab3"><span class="number_close">{{ number_close }}</span> Closed Issues</a></li>
                <li class=""><a href="#tab4"><span class="number_assigned">{{ number_assigned }}</span> Issues Assigned To You</a></li>
            </ul>

            <div class="tab_container">
                <div id="tab1" class="tab_content" style="display: block;">
                    <div class="widget content_activity" >
                    </div>
                </div>
                <div id="tab2" class="tab_content" style="display: none;">
                    <div class="widget content_open">

                    </div>
                </div>
                <div id="tab3" class="tab_content" style="display: none;">
                    <div class="widget content_close">

                    </div>
                </div>
                <div id="tab4" class="tab_content" style="display: none;">
                    <div class="widget content_assigned">

                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>


        {% if is_add %}
            <div class="clear"></div>

            <div class="widget">
                <div class="title"><img src="{{ asset('assets/images/icons/dark/transfer.png') }}" alt="" class="titleIcon"><h6>Assigned user</h6>
                    <div class="div_assigned" >
                        <input type="text" value="" onchange="changeuser(this.value)" class="assigned_user" >
                        <div id="content_assigned_user">
                        </div>
                    </div>
                </div>
                <div id="load_user_assigned" class="scroll">

                </div>
            </div>
        {% endif %}


    </div>

    <script type="text/javascript" >
        var project_id = {{ id }};
        $(function(){
            load_activity(0);
            load_open(0);
            load_close(0);
            load_assigned(0);
            load_user_assigned();

        });


        (function($)
        {
            $(document).ready(function()
            {
                var refreshId = setInterval(function()
                {
                    load_activity(0);
                }, 200000);
            });
        })(jQuery);

        function remove_user_project(id){

            var confirmBox = confirm('Are you sure you want to remove this user from the project?');
            if (!confirmBox) return false;

            $('.loading').show();
            var URL = '{{ path('_removeUerProject') }}';
            jQuery.ajax({
                type: "post",
                url : URL,
                data:{'id' : id },
                dataType : "html",
                success : function(data){
                    if( data != 1 ){
                        $('.row_user_'+data).hide();
                        $('.loading').hide();
                    }
                }
            });
        }
        function fcadd_user(user_id, full_name){
            $('.loading').show();
            var URL = '{{ path('_addUerProject') }}';
            jQuery.ajax({
                type: "post",
                url : URL,
                data:{'user_id' : user_id, 'project_id' : {{ id }} ,'full_name':full_name },
                dataType : "json",
                success : function(data){
                    load_user_assigned();
                    $('.row-'+data['user_id']).hide();
                    $('.loading').hide();
                }
            });
        }
        function changeuser(user_name){
            var URL = '{{ path('_ajaxSearch_user') }}';
            jQuery.ajax({
                type: "post",
                url : URL,
                data:{'user_name':user_name, 'project_id' : {{ id }} },
                dataType : "html",
                success : function(data){
                    $('#content_assigned_user').html(data);

                }
            });

        }
        function load_user_assigned(){
            var URL = '{{ path('_Add_UserProjects') }}';
            jQuery.ajax({
                type: "post",
                url : URL,
                data:{'project_id' : {{ id }} },
                dataType : "html",
                success : function(data){
                    $('#load_user_assigned').html(data);
                }
            });
        }

        function load_activity(page){
            $('.loading').show();
            var URL = '{{ path('_ajaxListActivityIssues') }}';
            jQuery.ajax({
                type: "post",
                url : URL,
                data:{'page':page, 'project_id': {{ id }} },
                dataType : "html",
                success : function(data){
                    jQuery('.content_activity').html(data);
                    $('.loading').hide();
                }
            });
        }
        function load_open(page){
            var URL = '{{ path('_ajaxListOpenIssues') }}';
            jQuery.ajax({
                type: "post",
                url : URL,
                data:{'page':page, 'project_id':project_id},
                dataType : "html",
                success : function(data){
                    jQuery('.content_open').html(data);
                }
            });
        }
        function load_close(page){
            var URL = '{{ path('_ajaxListCloseIssues') }}';
            jQuery.ajax({
                type: "post",
                url : URL,
                data:{'page':page, 'project_id':project_id},
                dataType : "html",
                success : function(data){
                    jQuery('.content_close').html(data);
                }
            });
        }
        function load_assigned(page){
            var URL = '{{ path('_ajaxListAssignedIssues') }}';
            jQuery.ajax({
                type: "post",
                url : URL,
                data:{'page':page, 'project_id':project_id},
                dataType : "html",
                success : function(data){
                    jQuery('.content_assigned').html(data);
                }
            });
        }
        function closeissue(id){
            $('.loading').show();
            var status = '';
            if($("#close_issue"+id).is(':checked')==true){
                status = 'CLOSED';
                $(".row-"+id+" td").css('text-decoration','line-through');
            }else{
                status = 'OPEN';
                $(".row-"+id+" td").css('text-decoration','none');
            }
            var URL = '{{ path('_ajaxUpdateStatusIssue' ,{'project_id' :  id  }) }}';
            jQuery.ajax({
                type: "post",
                url : URL,
                data:{ 'id' : id , 'status' : status },
                dataType : "json",
                success : function(data){
                    $('.loading').hide();
                    load_close(0);
                    $('.number_open').html(data['number_open']);
                    $('.number_close').html(data['number_close']);
                }
            });
        }
        function romoveissue(id){
            var confirmBox = confirm('Are you sure?');
            if (!confirmBox) return false;
            $('.loading').show();
            var URL = '{{ path('_removeIssue') }}';
            jQuery.ajax({
                type: "post",
                url : URL,
                data:{ 'id' : id },
                dataType : "html",
                success : function(data){
                    if( data != 0 )
                    $('.row-'+id).hide();
                    $('.loading').hide();
                }
            });
        }
    </script>

{% endblock %}