<div class="edit-task edit-task-{{ task.getId()  }}">
     <div class="widget form-task">
         Title:
        <input placeholder="Please enter title..." type="text" value="{{ task.getTitle() }}" name="name" class="input-{{ task.getId()  }}" id="title_task" />
        Assign user:<br/>
          <select class="chzn-select edit-task-{{ task.getId()  }}" style="width:100%"  data-placeholder="" style=""  multiple="multiple" tabindex="9">
              {% for user in users %}
                  <option
                          {% for task_u in  task_user %}
                                {% if task_u.user_id == user.user_id %}
                                    selected="selected"
                                {% endif %}
                          {% endfor %}
                          value="{{ user.user_id }}">{{ user.firstname }} {{ user.lastname }}</option>
              {% endfor %}
         </select>
         Due date:<input name="due_date" type="text" value="{% if task.getDuetime() %}{{ task.getDuetime() | date('Y-m-d') }} {% endif %}"  class="datepicker due_date" />

          <a href="javascript:;" data-id="{{ task.getId() }}" title="" class="smallButton attach-file-edit" style="margin: 5px; float: right;"><img src="{{ asset('assets/images/icons/color/paper-clip.png') }}" alt="">Attach files..</a>

             <div style="display: none" class="attach-file-edit{{ task.getId() }}">
                <input data-id_task="{{ task.getId() }}"  class="fileUploadEdit" type="file" name="files[]" multiple>
             </div>
         <div style="display:none " class="edit-contentProgress{{ task.getId() }}"><div class="barG tipS" id="bar9"></div></div>
            <div class="img-edit">
                {% if attachFile %}
                    {% for file in  attachFile %}
                        <div class="parentfile_{{ file.getId() }}"  ><span class="file_{{ file.getId() }}"  ><input name="file_id[]" type="hidden"  value="{{ file.getId() }}" />{{ file.getFilename() }}</span><a onclick="romove_file({{ file.getId() }})" href="javascript:;">Delete</a></div>
                    {% endfor %}
                {% endif %}
            </div>
        <div class="submit-edit-task"><a onclick="save_edit_task({{ task.getId() }})" class="button blueB"  href="javascript:void(0);">Update task</a> or <a onclick="close_Edit_task({{ task.getId()  }})" href="javascript:void(0);" >Cancel</a></div>
     </div>
</div>

<script>
    $(".chzn-select").chosen();
    $("select, input:radio").uniform();

    $( ".datepicker" ).datepicker({
        defaultDate: +7,
        autoSize: true,
        dateFormat: 'yy-mm-dd'
    });
    $('.attach-file-edit').click(function(){
        $('.attach-file-edit' + $(this).data("id")).slideToggle('slow');
    });
    $(function () {
        $('.fileUploadEdit').fileupload({
            url: '{{ path('_uploadfiletask' , { 'id': project_id }) }}',
            dataType: 'json',
            done: function (e, data) {
                var id =  $(this).data("id_task");
                $('.edit-contentProgress'+id).hide();
                $('.edit-task-'+id+' .img-edit').append('<div class="parentfile_'+data.result['id']+'"  ><span class="file_'+data.result['id']+'"  ><input name="file_id[]" type="hidden"  value="'+data.result['id']+'" />'+data.result['name']+'</span> <a onclick="romove_file('+data.result['id']+')" href="javascript:;">Delete</a></div>');
                $('.edit-task-'+id+' .submit-edit-task').show();
            },
            progressall: function (e, data) {
                var id =  $(this).data("id_task");
                $('.edit-task-'+id+' .submit-edit-task').hide();

                $('.edit-contentProgress'+id).show();
                var progress = parseInt(data.loaded / data.total * 100, 10);
                $('.edit-contentProgress'+id+' .barG').css(
                        'width',
                        progress + '%'
                );

            }
        }).prop('disabled', !$.support.fileInput)
                .parent().addClass($.support.fileInput ? undefined : 'disabled');

    });


</script>