<input type="hidden" id="page" value="{{ page }}" />
<ul class="partners">
    {% for task in tasks %}
        <li class="row-comment{{ task.id }}">
            <a href="#" title="" class="floatL"><img {% if task.is_avatar  %}  width="36px" src="{{ asset(task.avatar) }}" {% else %} src="{{ asset('assets/images/user.png') }}"  {% endif %} alt=""></a>
            <div class="pInfo">
                <a href="#" title=""><strong> {{ task.fullName  }} </strong> Commented {{ task.createdAt |date('Y-m-d') }}</a>
                <i>{{ task.comment | raw}} </i>
                {% if task.attachments %}
                    <ul>
                        {% for attach in task.attachments %}
                            <li><a href="{{ path('download_file_task', { 'id': attach.getId  }) }}">{{ attach.getFilename }}</a> - {{ attach.getFilesize | number_format }} kb</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            {% if task.is_role %}
                <div class="pLinks">
                    <a onclick="romoveComment({{ task.id }});" href="javascript:void(0);" class="tipW" original-title="Remove"><img src="{{ asset('assets/images/icons/remove.png') }}" alt=""></a>
                    <a onclick="edit_comment({{ task.id }})" href="javascript:void(0);" class="tipW" original-title="Update"><img src="{{ asset('assets/images/icons/edit.png') }}" alt=""></a>
                </div>
            {% endif %}
            <div class="clear"></div>
            <div style="display: none" class="edit-{{ task.id }}">
                <div class="message{{ task.id }}"></div>
                 <textarea class="editor-{{ task.id }}" rows="8" cols="" name="growingTextarea" class="autoGrow comment" style="height: auto; overflow: hidden; width: 100%">{{ task.comment | raw}}</textarea>

                <div style="margin: 10px" class="attach-file">
                 <div class="uploadBox">
                       <a href="javascript:;"  title="" class="smallButton attach-file uploadIcon{{ task.id }}" style="margin: 0px;float: right"><img src="{{ asset('assets/images/icons/color/paper-clip.png') }}" alt="">Attach files..</a>
                          <input style="visibility : hidden;"  data-id="{{ task.id }}" class="fileupload" type="file" name="files[]" multiple>
                     </div>
                 <div style="display:none ; width: 88%;  margin-top: -9px; " class="contentProgress contentProgress-{{ task.id }}"><div class="barG tipS" id="bar9"></div></div>
                <div id="arr_file_{{ task.id }}">
                    {% if task.attachments %}
                        {% for attach in task.attachments %}
                        <div class="parentfile_{{ attach.getId }}"  ><span class="file_{{ attach.getId }}"  ><input name="file_id[]" type="hidden"  value="{{ attach.getId }}" />{{ attach.getFilename }}</span> - ({{ attach.getFilesize | number_format }} kb) <a onclick="romove_file({{ attach.getId }})" href="javascript:;"><img src="{{ asset('assets/images/icons/remove.png') }}" /></a></div>
                        {% endfor %}
                    {% endif %}
                </div>
             </div>

                <a href="javascript:void(0);" onclick="save_comment_detail({{ task.id }},{{ page }})" title="" class="button greyishB" style="margin: 5px;"><span class="show-text{{ task.id }}">Save</span></a>
            </div>
        </li>
    {% endfor %}
</ul>
{% if paginations != '' %}
    <div class="pagination">
        <ul class="pages">
            {{ paginations| raw }}
        </ul>
    </div>
{% endif %}

<script>
    $(function(){
        {% for task in tasks %}

            $(".uploadIcon{{ task.id }}").click(function(){
                $(this).next().trigger('click');
            });

            $(".editor-{{ task.id }}").cleditor({
                width:"100%",
                height:"100%",
                bodyStyle: "margin: 10px; font: 12px Arial,Verdana; cursor:text"
            });
        {% endfor %}
    });

    $(function () {
        $('.fileupload').fileupload({
            url: '{{ path('_uploadfiletaskcomments' , { 'task_id': task_id }) }}',
            dataType: 'json',
            done: function (e, data) {
                var id = $(this).data("id");
                $('.contentProgress-'+id).hide();
                $('#arr_file_'+id).append('<div class="parentfile_'+data.result['id']+'"  ><span class="file_'+data.result['id']+'"  ><input name="file_id[]" type="hidden"  value="'+data.result['id']+'" />'+data.result['name']+'</span> - (' + data.result['size'] + ' kb) <a onclick="romove_file('+data.result['id']+')" href="javascript:;"><img src="{{ asset('assets/images/icons/remove.png') }}" /></a></div>');
                $('.show-text'+id).html('SAVE');
            },
            progressall: function (e, data) {
                var id = $(this).data("id");
                $('.contentProgress-'+id).show();
                $('.show-text'+id).html('Please wait upload...');
                var progress = parseInt(data.loaded / data.total * 100, 10);
                $('.contentProgress .barG').css(
                        'width',
                        progress + '%'
                );
            }
        }).prop('disabled', !$.support.fileInput)
                .parent().addClass($.support.fileInput ? undefined : 'disabled');

    });



</script>
