{% extends '::layoutmain.html.twig' %}

{% block title %}Add issues{% endblock %}

{% block Breadcrumb %}
    <h5>Add issues</h5>
{% endblock %}

{% block body %}



    <div class="wrapper">
    {{ form_errors(form)  }}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="nNote nSuccess hideit">
            <p><strong>SUCCESS: </strong>{{ flashMessage }}</p>
        </div>
    {% endfor %}

        {{ form_start(form,  {'attr': {'id': 'from_add'}}) }}
        <div class="form">
            <fieldset>
                <div class="widget">
                    <div class="title"><img src="{{ asset('assets/images/icons/dark/list.png') }}" alt="" class="titleIcon" /><h6>Add Issues</h6></div>
                    <div class="formRow">
                        <label>{{ form_label(form.title) }}</label>
                        <div class="formRight">{{ form_widget(form.title) }}</div>
                        {{ form_errors(form.title) }}
                        <div class="clear"></div>
                        <div style="float: right"><span style="color:red;" class="errorW error_title"></span></div>

                    </div>
                    <div class="formRow">
                        <label>{{ form_label(form.description) }}</label>
                        <div class="formRight">{{ form_widget(form.description) }}</div>
                        <div class="clear"></div>
                    </div>

                    <div class="formRow">
                        <label>{{ form_label(form.assigned_to) }}</label>
                        <div class="formRight">
                            {{ form_widget(form.assigned_to) }}
                        </div>
                        {{ form_errors(form.assigned_to) }}
                        <div class="clear"></div>
                    </div>






                    <div class="formRow">
                        <label>Due date</label>
                        <div class="formRight">
                            <input name="date" type="text" value="{{ date }}"  class="datepicker" />
                            <input name="time" type="text" value="{{ time }}" class="timepicker" size="10" />
                        </div>
                        <div class="clear"></div>
                    </div>


                    <div class="formRow">
                        <label>{{ form_label(form.status) }}</label>
                        <div class="formRight">
                                {{ form_widget(form.status) }}
                            </div>
                        {{ form_errors(form.status) }}
                        <div class="clear"></div>
                    </div>
                    <h3 style="margin-left: 10px;margin-top: 10px">Attachments</h3>
                    <div id="uploaders"></div>
                    <div id="arr_file"></div>

                     <a href="{{ path('_detailProjects',{'id': project_id}) }}" title="" class="wButton greenwB ml15 m10"><span>Back project</span></a>

                    <div class="formSubmit"><input type="button" value="submit" id="btn_addissue" class="redB"></div>
                    <div class="clear"></div>
                </div>




            </fieldset>
        </div>
        {{ form_end(form) }}


    <script type="text/javascript">
        function load_fileloader(){
            var uploader = $("#uploaders").pluploadQueue({
                runtimes : 'html5,html4',
                url : '{{ path('_uploadfile' ,{ 'id': project_id , 'issue_id': 0 }) }}',
                max_file_size : '1mb',
                unique_names : true,
                filters : [
                    {title : "Image files", extensions : "jpg,gif,png"},
                    {title : "Zip files", extensions : "zip"}
                ],

                init : {
                    UploadComplete: function(up, files) {
                        var URL = '{{ path('_getuploadfile') }}';
                        jQuery.ajax({
                            type: "post",
                            url : URL,
                            data:{},
                            dataType : "json",
                            success : function(data){
                                for( var i=0 ; i < data.length ; i++ ){
                                    $('#arr_file').append('<input value="'+data[i]+'" type="hidden" id="attachments" name="attachments[]" />');
                                }

                            }
                        });
                    }
                }
            });
        }
    $(function(){
        load_fileloader();
        $('#btn_addissue').click(function(){
            $('.errorW').html('');
            if($('#form_title').val().trim() == ''){
                $('.error_title').html('Please enter title');
                return false;
            }
            if($('.plupload_droptext').html()==null && $('.plupload_done').html()  ==null){
                alert('Please click upload to attachments file!')
            }else{
                $('#from_add').submit();
            }

        });
    });
    </script>
    </div>
{% endblock %}