{% if issues %}
    <table cellpadding="0" cellspacing="0" width="100%" class="sTable withCheck" id="checkAll">
        <thead>
        <tr>
            {% if is_close %}
            <td><img src="{{ asset('assets/images/icons/tableArrows.png') }}" alt=""></td>
                {% endif %}
            <td width="30">ID</td>
            <td>Tile</td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        {% for issue in issues %}
            <tr class="row-{{ issue.id }} ">
                {% if is_close %}
                <td><div  class="checker" id="uniform-titleCheck2"><span><input onclick="closeissue({{ issue.id }});" value="{{ issue.id }}" type="checkbox" id="close_issue{{ issue.id }}" name="checkRow" style="opacity:1;"></span></div></td>
                {% endif %}
                <td align="center">#{{ issue.id }}</td>
                <td><h5><a href="{{ path('_project_issues', { 'id': issue.id , 'project_id': project_id }) }}">{{ issue.title }}</a></h5>
                    {% for user in issue.users %}
                        {{ user.firstname }} {{ user.lastname }}
                    {% endfor %}
                    {{ time_diff(issue.created) }}

                    <span class="show-time">

                        {% if issue.unis_endtime <= now %}
                            {% if issue.unis_endtime == now %}
                                  <span class="tb-red">Today</span>
                            {% else %}
                                <span class="tb-red"> Late {{ issue.EndTime | date("d/m/Y") }}</span>
                            {% endif %}
                        {% else %}
                            {% if  issue.unis_endtime == tomorrow %}
                                <span class="tb-yellow" > Tomorrow </span>
                            {% else %}
                                <span class="tb-bue">{{ issue.EndTime | date("d/m/Y") }}</span>
                            {% endif %}
                        {% endif %}

                        </span>
                </td>
                <td align="center">
                    {% if user_id == issue.CreatedBy %}
                        <a  href="{{ path('_editIssues', { 'id': issue.id , 'project_id': project_id }) }}" class="tipS ajax-request-btn" original-title="Update"><img src="{{ asset('assets/images/icons/edit.png') }}"  style="margin-right:10px" alt=""></a>
                        <a href="javascript:void(0);" onclick="romoveissue({{ issue.id }})" class="tipS" original-title="Remove"><img src="{{ asset('assets/images/icons/remove.png') }}" alt=""></a></td>
                    {% endif %}

                </td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="4">

                <div class="pagination">
                    <ul class="pages">
                       {{ paginations| raw }}
                    </ul>
                </div>
            </td>
        </tr>
      </tbody>
    </table>

    {% else %}
        <p>No content....</p>
{% endif %}