{% extends '::layoutmain.html.twig' %}

{% block title %}Edit issues{% endblock %}

{% block Breadcrumb %}
    <h5>Edit issues</h5>
{% endblock %}

{% block body %}

    <div class="wrapper">
    {{ form_errors(form)  }}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="nNote nSuccess hideit">
            <p><strong>SUCCESS: </strong>{{ flashMessage }}</p>
        </div>
    {% endfor %}

        {{ form_start(form) }}

        <input type="hidden" value="{{ assignedTo }}" name="assignedToOld">
        <div class="form">
            <fieldset>
                <div class="widget">
                    <div class="title"><img src="{{ asset('assets/images/icons/dark/list.png') }}" alt="" class="titleIcon" /><h6>Edit Issues</h6></div>
                    <div class="formRow">
                        <label>{{ form_label(form.title) }}</label>
                        <div class="formRight">{{ form_widget(form.title) }}</div>
                        {{ form_errors(form.title) }}
                        <div class="clear"></div>
                    </div>
                    <div class="formRow">
                        <label>{{ form_label(form.description) }}</label>
                        <div class="formRight">{{ form_widget(form.description) }}</div>
                        <div class="clear"></div>
                    </div>
                    <div class="formRow">
                        <label>{{ form_label(form.assigned_to) }}</label>
                        <div class="formRight">
                            {{ form_widget(form.assigned_to) }}
                        </div>
                        {{ form_errors(form.assigned_to) }}
                        <div class="clear"></div>
                    </div>
                    <div class="formRow">
                        <label>{{ form_label(form.status) }}</label>
                        <div class="formRight">
                                {{ form_widget(form.status) }}
                            </div>
                        {{ form_errors(form.status) }}
                        <div class="clear"></div>
                    </div>

                    <a  href="{{ path('_detailProjects', { 'id': project_id }) }}" title="" class="wButton greenwB ml15 m10 ajax-request-btn"><span>Back project</span></a>

                    <div class="formSubmit"><input type="submit" value="submit" class="redB ajax-request-btn"></div>
                    <div class="clear"></div>
                </div>
            </fieldset>
        </div>
        {{ form_end(form) }}

    </div>
{% endblock %}