{% extends '::layoutmain.html.twig' %}

{% block title %}Projects Issues{% endblock %}

{% block Breadcrumb %}
    <h5>{{ issue.getTitle() }}</h5>
    <span>On Project <a href="{{ path('_detailProjects', { 'id': project.getId() }) }}">{{ project.getName() }}</a></span>
{% endblock %}

{% block body %}
    <div class="wrapper">

        <div class="widget">

            {% if is_ssues %}
                <div style="text-align: right">
                    <a id="opener" {% if issue.getStatus() == 'CLOSED' %} style="display: none" {% endif %}  href="javascript:void(0);"  title="" class="button greenB close_issue  " style="margin: 5px;"><span> Close Issue</span></a>

                    <a {% if issue.getStatus() != 'CLOSED' %} style="display: none" {% endif %}  href="javascript:void(0);" onclick="fc_open()" title="" class="button greenB open_issue" style="margin: 5px;"><span> Reopened </span></a>
                </div>
            {% endif %}


            <ul id="partners" class="partners">
                <li>
                    <a href="#" title="" class="floatL"><img height="30px" src="{% if user.getAvatar() == '' %} {{ asset('assets/images/user.png') }} {% else %} {{ asset(user.getAvatar()) }}  {% endif %}" alt=""></a>
                    <div class="pInfo">
                        <a href="#" title=""><strong> {{ user.getFirstname() }} {{ user.getLastname() }} opened this issue </strong> {{ issue.getCreated() |date('Y-m-d h:i:s') }}</a>
                        <i>{{ issue.getDescription()| raw }}</i>'
                        {% if attachments %}
                        <p>
                            <ul>
                            {% for attach in attachments %}
                                <li><a href="{{ path('download_file', { 'id': attach.getId  }) }}">{{ attach.getFilename }}</a> - {{ attach.getFilesize | number_format }} kb</li>
                            {% endfor %}
                            </ul>
                        </p>
                        {% endif %}
                    </div>
                    <div class="clear"></div>
                </li>
            </ul>
            <div id="comment_content">

            </div>
        </div>


        {% if is_ssues %}

            <div  {% if issue.getStatus() == 'CLOSED' %} style="display: none" {% endif %} class="form_comment">
                <div class="message"></div>
                <!-- WYSIWYG editor -->
                <div class="widget ">
                    <div class="title"><img src="{{ asset('assets/images/icons/dark/pencil.png') }}" alt="" class="titleIcon" /><h6>Comment on this issue:</h6></div>
                    <textarea id="editor" rows="8" cols="" name="growingTextarea" class="autoGrow comment" style="height: auto; overflow: hidden; width: 100%"></textarea>
                    <div id="uploaders"></div>
                    <div id="arr_file"></div>
                    <a href="javasrcipt:void(0);" id="btn-comment" title="" class="wButton bluewB ml15 m10"><span>Comment</span></a>
                </div>
            </div>
        {% endif %}


    </div>






    <div class="body textC">
        <div class="uDialog">
            <div id="dialog-message" title="Closed issue">

                <fieldset>
                    <table width="100%">
                        <tr>
                            <td>Start date:</td>
                            <td><input id="start_date" name="start_date" type="text" value=""  class="datepicker" /></td>
                            <td> <input id="start_time" name="start_time" type="text" value="" class="timepicker" size="10" /></td>
                        </tr>
                        <tr>
                            <td><label for="pass">End date:</label></td>
                            <td><input id="end_date" name="end_date" type="text" value=""  class="datepicker" /></td>
                            <td><input id="end_time" name="end_time" type="text" value="" class="timepicker" size="10" /></td>
                        </tr>
                    </table>

                </fieldset>
            </div>
        </div>
    </div>

    <script type="text/javascript">

	$( "#dialog-message" ).dialog({
        autoOpen: false,
        modal: true,
        buttons: {
            Ok: function() {
                fc_close();
                $( this ).dialog( "close" );
            }
        }
    });

    $( "#opener" ).click(function() {
        $( "#dialog-message").dialog({modal: true, height: 340, width: 450 });
        $( "#dialog-message" ).dialog( "open" );
        return false;
    });


    function load_fileloader(){
            var uploader = $("#uploaders").pluploadQueue({
                runtimes : 'html5,html4',
                url : '{{ path('_uploadfile' ,{ 'id': project.getId(), 'issue_id': issue.getId() }) }}',
                max_file_size : '10mb',
                unique_names : true,
                filters : [
                    {title : "Image files", extensions : "jpg,gif,png"},
                    {title : "Zip files", extensions : "zip"},
                    {title : "php files", extensions : "php"},
                    {title : "xml files", extensions : "xml"},
                    {title : "css files", extensions : "css"},
                    {title : "js files", extensions : "js"}
                ],

                init : {
                    UploadComplete: function(up, files) {
                        var URL = '{{ path('_getuploadfile') }}';
                        jQuery.ajax({
                            type: "post",
                            url : URL,
                            data:{},
                            dataType : "json",
                            success : function(data){
                                for( var i=0 ; i < data.length ; i++ ){
                                    $('#arr_file').append('<input value="'+data[i]+'" type="hidden" id="comment" name="comment[]" />');
                                }

                            }
                        });
                    }
                }
            });
        }
        function fc_close(){
            var start_date = $("#start_date").val();
            var start_time = $("#start_time").val();
            var end_date = $("#end_date").val();
            var end_time = $("#end_time").val();
            if(start_date.length ==0 ){
                alert();
                return false;
            }
            if(end_date.length ==0 ){
                alert();
                return false;
            }
            var confirmBox = confirm('Are you sure you want to close this issue?');
            if (!confirmBox) return false;

            $('.loading').show();
            var URL = '{{ path('_ajaxcloseissues') }}';
            jQuery.ajax({
                type: "post",
                url : URL,
                data:{'issueId' : {{ issue.getId() }} , 'project_id': {{ project.getId() }}},
                dataType : "html",
                success : function(data){
                    $('.form_comment').hide();
                    $('.close_issue').hide();
                    $('.open_issue').show();
                    loadcomments(0);
                    $('.loading').hide();
                }
            });
        }
        function fc_open(){
            var confirmBox = confirm('Are you sure you want to  reopened this issue?');
            if (!confirmBox) return false;

            $('.loading').show();
            var URL = '{{ path('_ajaxopenissues') }}';
            jQuery.ajax({
                type: "post",
                url : URL,
                data:{'issueId' : {{ issue.getId() }} , 'project_id': {{ project.getId() }}},
                dataType : "html",
                success : function(data){
                    $('.form_comment').slideDown( "slow" );
                    $('.close_issue').show();
                    $('.open_issue').hide();
                    $('.loading').hide();
                }
            });
        }
        function loadcomments(page){
            $('.loading').show();
            $("#comment_content").append("<img style='margin:0 auto;' src='{{ asset('assets/images/loaders/loader5.gif') }}'>");
            var URL = '{{ path('_ajaxgetcomment') }}';
            jQuery.ajax({
                type: "post",
                url : URL,
                data:{'page':page, 'issueId' : {{ issue.getId() }} },
                dataType : "html",
                success : function(data){
                    jQuery('#comment_content').html(data);
                    $('.loading').hide();
                }
            });

        }
        function romove_comment(id){
            $('.loading').show();
            var URL = '{{ path('_ajaxromovecomment') }}';
            jQuery.ajax({
                type: "post",
                url : URL,
                data:{'id':id},
                dataType : "html",
                success : function(data){
                    if(data = 1)
                    $('.row-comment'+id).hide();
                    $('.loading').hide();
                }
            });
        }
        function edit_comment(id){
            $('.edit-'+id).slideToggle( "slow" );
        }
        function save_comment_detail(id,page){
            $('.loading').show();
            var editor = $('.editor-'+id).cleditor()[0];
            var comment = editor.$area.val();

            if (comment.length == 0) {
                $('.message').html('<div class="nNote nFailure hideit"> <p><strong>FAILURE: </strong>Please enter text!</p>  </div>');
                return false;
            }

            var URL = '{{ path('_ajaxupdatecomment') }}';
            jQuery.ajax({
                type: "post",
                url : URL,
                data:{'id':id, 'page' : page, 'comment' : comment},
                dataType : "html",
                success : function(data){
                    $('.edit-'+id).slideUp( "slow" );
                    loadcomments(data);
                    $('.loading').hide();
                }
            });
        }




        $(function(){
            loadcomments(0);
            load_fileloader();

            $('#btn-comment').click(function(){

                if($('.plupload_droptext').html()==null && $('.plupload_done').html()  ==null){
                    alert('Please click upload to attachments file!');
                    return false;
                }else {


                    /*  if($('.plupload_buttons') != 'none'){
                     $('.plupload_start').trigger('click');

                     setTimeout(function(){  }, 3000);
                     } */
                    var file_id = $("input[id='comment']")
                            .map(function () {
                                return $(this).val();
                            }).get();
                    var editor = $('#editor').cleditor()[0];
                    var comment = editor.$area.val();
                    if (comment.length == 0) {
                        $('.message').html('<div class="nNote nFailure hideit"> <p><strong>FAILURE: </strong>Please enter text!</p>  </div>');
                        return false;
                    }
                    $('.loading').show();
                    var URL = '{{ path('_savecomment') }}';
                    jQuery.ajax({
                        type: "post",
                        url: URL,
                        data: {
                            'file_id': file_id,
                            'comment': comment,
                            'issue_id': {{ issue.getId() }},
                            'project_id': {{ project.getId() }}
                        },
                        dataType: "json",
                        success: function (data) {
                            load_fileloader();
                            $('#editor').cleditor()[0].clear();
                            $('.message').html('<div class="nNote nSuccess hideit"> <p><strong>SUCCESS: </strong>Success comment!</p>  </div>');
                            loadcomments(0);
                            $('.loading').hide();
                            setTimeout(function () {
                                $('.message').hide();
                            }, 3000);

                        }
                    });
                }
            });


        });






    </script>








{% endblock %}