{% extends '::layoutmain.html.twig' %}

{% block title %}Projects Issues{% endblock %}

{% block Breadcrumb %}
    <h5>{{ issue.getTitle() }}</h5>
    <span>On Project <a href="{{ path('_detailProjects', { 'id': project.getId() }) }}">{{ project.getName() }}</a></span>
{% endblock %}

{% block body %}
    <div class="wrapper">

        <div class="widget">
            <ul id="partners" class="partners">
                <li>
                    <a href="#" title="" class="floatL"><img src="{% if user.getAvatar() == '' %} {{ asset('assets/images/user.png') }} {% else %} {{ asset('upload/'.user.getAvatar()) }}  {% endif %}" alt=""></a>
                    <div class="pInfo">
                        <a href="#" title=""><strong> {{ user.getFirstname() }} {{ user.getLastname() }} opened this issue </strong> {{ issue.getCreated() |date('Y-m-d h:i:s') }}</a>
                        <i>{{ issue.getDescription()| raw }}</i>
                    </div>
                    <div class="clear"></div>
                </li>
            </ul>
            <div id="comment_content">

            </div>
        </div>

        <div class="message"></div>

        <!-- WYSIWYG editor -->
        <div class="widget">
            <div class="title"><img src="{{ asset('assets/images/icons/dark/pencil.png') }}" alt="" class="titleIcon" /><h6>Comment on this issue:</h6></div>
            <textarea id="editor" rows="8" cols="" name="growingTextarea" class="autoGrow comment" style="height: auto; overflow: hidden; width: 100%"></textarea>
            <div id="uploaders"></div>
            <div id="arr_file"></div>
            <a href="javasrcipt:void(0);" id="btn-comment" title="" class="wButton bluewB ml15 m10"><span>Comment</span></a>
        </div>

    </div>



    <script type="text/javascript">
        function load_fileloader(){
            var uploader = $("#uploaders").pluploadQueue({
                runtimes : 'html5,html4',
                url : '{{ path('_uploadfile' ,{ 'id': project.getId(), 'issue_id': issue.getId() }) }}',
                max_file_size : '1mb',
                unique_names : true,
                filters : [
                    {title : "Image files", extensions : "jpg,gif,png"},
                    {title : "Zip files", extensions : "zip"}
                ],

                init : {
                    UploadComplete: function(up, files) {
                        var URL = '{{ path('_getuploadfile') }}';
                        jQuery.ajax({
                            type: "post",
                            url : URL,
                            data:{},
                            dataType : "json",
                            success : function(data){
                                for( var i=0 ; i < data.length ; i++ ){
                                    $('#arr_file').append('<input value="'+data[i]+'" type="hidden" id="comment" name="comment[]" />');
                                }

                            }
                        });
                    }
                }
            });
        }
        function loadcomments(page){
            $("#comment_content").append("<img src='{{ asset('assets/images/loaders/loader12.gif') }}'>");
            var URL = '{{ path('_ajaxgetcomment') }}';
            jQuery.ajax({
                type: "post",
                url : URL,
                data:{'page':page, 'issueId' : {{ issue.getId() }} },
                dataType : "html",
                success : function(data){
                    jQuery('#comment_content').html(data);
                }
            });

        }
        function romove_comment(id){
            var URL = '{{ path('_ajaxromovecomment') }}';
            jQuery.ajax({
                type: "post",
                url : URL,
                data:{'id':id},
                dataType : "html",
                success : function(data){
                    if(data = 1)
                    $('.row-comment'+id).hide();
                }
            });
        }
        $(function(){
            loadcomments(0);
            load_fileloader();

            $('#btn-comment').click(function(){
                if($('.plupload_buttons') != 'none'){
                    $('.plupload_start').trigger('click');

                    setTimeout(function(){  }, 3000);
                }
                var file_id = $("input[id='comment']")
                        .map(function(){return $(this).val();}).get();
                var  editor = $('#editor').cleditor()[0];
                var comment = editor.$area.val();
                if(comment.length==0){
                    $('.message').html('<div class="nNote nFailure hideit"> <p><strong>FAILURE: </strong>Please enter text!</p>  </div>');
                    return false;
                }
                var URL = '{{ path('_savecomment') }}';
                jQuery.ajax({
                    type: "post",
                    url: URL,
                    data: {
                        'file_id':file_id,
                        'comment' : comment,
                        'issue_id' : {{ issue.getId() }},
                        'project_id' : {{ project.getId() }}
                    },
                    dataType: "json",
                    success: function (data) {
                        load_fileloader();
                        $('#editor').cleditor()[0].clear();
                        $('.message').html('<div class="nNote nSuccess hideit"> <p><strong>SUCCESS: </strong>Success comment!</p>  </div>');
                        loadcomments(0);
                        setTimeout(function(){ $('.message').hide(); }, 3000);

                    }
                });

            });


        });

    </script>



{% endblock %}